.pagination .selected {
  background-color: orange;
  padding: 10px;
  border-radius: 10px ;
  border: 2px;
  border-color: blue;
  
}

.pagination {
  text-align: center;
  margin-bottom: 40px;
}

.pagination button {
  margin-right: 10px;
  border: 2px;
  border-color: rgb(43, 43, 95);
}
