@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Jost", serif;
}


:root {
    --bg-color: #ffffff;
    --text-color: #000000;
  }
  
  [data-theme="dark"] {
    --bg-color: #1f2937;
    --text-color: #ffffff;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: all 0.3s ease-in-out;
  }

  :root {
    --sidebar-bg: #e5e7eb; /* Light mode (gray-200) */
  }
  
  [data-theme="dark"] {
    --sidebar-bg: #1f2937; /* Dark mode (gray-800) */
  }